
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}About us {% endblock %}

{% block content %}
    <div id="smooth-wrapper">
        <div id="smooth-content">

        <!-- breadcrumb area start -->
        {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
        
        <!-- breadcrumb area end -->


                <!-- about area start -->
                {% include 'beltechApp/refactors/about.html' %}
                <!-- about area end -->



                <!-- call to action area start -->
                <section class="tp-cta-area pt-160 pb-150 p-relative z-index-1">
                    <div class="tp-cta-bg-shape">
                        <img class="tp-cta-bg-shape-1" src="assets/img/cta/cta-shape1.png" alt="">
                        <img class="tp-cta-bg-shape-2" src="assets/img/cta/cta-shape2.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <div class="tp-cta-wrapper text-center">
                                    <div class="tp-section-title-wrapper mb-50">
                                        <h6 class="tp-section-sub-title">Contact us for more</h6>
                                        <h3 class="tp-section-title tp-split-text right">Most Professional Printing
                                            Agency in City</h3>
                                    </div>
                                    <div class="tp-cta-btn text-center">
                                        <a class="tp-btn-border" href="{% url 'contact' %}"><span>Contact Us</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- call to action area end -->


                
                <!-- faq area start -->
                
                <section class="tp-faq-2-area fix pt-120 pb-120 p-relative z-index-1">
                    <div class="tp-faq-2-bg-shape">
                        <img class="tp-faq-2-bg-shape-1" src="assets/img/faq/faq-2-bg-shape1.png" alt="">
                        <img class="tp-faq-2-bg-shape-2" src="assets/img/faq/faq-2-bg-shape2.png" alt="">
                    </div>
                    
                    <div class="container">
                        <div class="row justify-content-center mb-80">
                            <div class="col-xl-10">
                                <div class="tp-faq-video-wrapper p-relative wow fadeInUp" data-wow-delay=".3s">
                                    
                                    <div class="video-responsive-container" 
                                        style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: 20px; box-shadow: 0px 30px 60px rgba(0,0,0,0.15); background: #000;">
                                        
                                        <iframe
                                            style="position:absolute; top:0; left:0; width:100%; height:100%; border:0;"
                                            src="{{ process_video.embed_url }}?rel=0&modestbranding=1&autohide=1"
                                            title="{{ process_video.title }}"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            referrerpolicy="strict-origin-when-cross-origin"
                                            allowfullscreen
                                            loading="lazy">
                                        </iframe>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% include 'beltechApp/refactors/faq.html' %}
                    </div>
                </section>
 

                <!-- faq area end -->



                <!-- team area start -->
                <section class="tp-team-area pt-120 pb-90">
                    <div class="container">
                        <div class="row align-items-end mb-45">
                            <div class="col-xl-6 col-lg-8">
                                <div class="tp-team-section-wrapper">
                                    <div class="tp-section-title-wrapper">
                                        <h6 class="tp-section-sub-title">OUR TEAM MEMBERS</h6>
                                        <h3 class="tp-section-title tp-split-text right">Meet With Our <br>
                                            Awesome Team Mates</h3>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        {% include 'beltechApp/refactors/team.html'%}
                    </div>
                </section>
                <!-- team area end -->



                


{% endblock %}