{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}{{blog.title}} {% endblock %}

{% block content %}
    


    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>


                <!-- breadcrumb area start -->
                {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
                
                <!-- breadcrumb area end -->
                



                <!-- postbox area start -->
                <section class="tp-postbox-area pt-120 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-8 col-xl-8 col-lg-8">
                                <div class="tp-postbox-wrapper">
                                    <article class="tp-postbox-item wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="tp-postbox-thumb p-relative">
                                            <img src="{{blog.main_image.url}}" alt="">
                                        </div>
                                        <div class="tp-postbox-content">
                                            <h3 class="tp-postbox-title details">{{ blog.title | safe}}</h3>
                                            {% comment %} <h5 class="tp-postbox-sub-title">March 23, 2022 _ TRANSPORT _ BY Katty Olson _ 2 Comments</h5> {% endcomment %}
                                            <p class="tp-postbox-paragraph">{{blog.content | safe}}</p>
                                        </div>
                                    </article>

                                    <div class="tp-postbox-blog-code mb-80 text-center wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="tp-postbox-blog-code-icon mb-20">
                                            <img src="{% static 'beltechApp/assets/img/blog/blog-code.svg' %}" alt="">
                                        </div>
                                        <div class="tp-postbox-blog-code-content">
                                            <h4 class="tp-postbox-blog-code-title">Diam luctus nostra dapibus varius et semper semper rutrum ad risus felis
                                                eros. Cursus libero viverra tempus netus diam vestibulum</h4>
                                            <p class="tp-postbox-blog-code-name">David Backhum</p>
                                        </div>
                                    </div>

                                    <div class="row align-items-center tp-postbox-details-row mb-50">
                                        <div class="col-xl-10 col-lg-10 col-md-10">
                                            <div class="tp-postbox-details-tag details d-flex wow fadeInUp">
                                                <span>Posted in:</span>
                                                <div class="tp-postbox-tagcloud-social">
                                                    <a href="#">Development</a>
                                                    <a href="#">Digital</a>
                                                    <a href="#">Tech</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-2">
                                            <div class="tp-postbox-details-share d-flex justify-content-end wow fadeInUp">
                                                <a href="#"><span><i class="flaticon-share"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-postbox-comment mb-50" id="comments">
                                        <h3 class="tp-postbox-comment-title wow fadeInUp">{{ blog.blopcomment.count }} Comments</h3>

                                        <div id="comment-list">
                                            {% for comment in blog.blopcomment.all %}
                                                {% if not comment.parent %}
                                                    <div class="tp-postbox-comment-box border-mr p-relative mb-30 comment-group">
                                                        <div class="tp-postbox-comment-box-inner d-flex">
                                                            <div class="tp-postbox-comment-avater wow fadeInUp">
                                                                <img src="{{ comment.logo.main_image.url }}" alt="{{ comment.logo.name }}" style="width: 60px; height: 60px; object-fit: cover; border-radius: 50%; flex-shrink: 0;">
                                                            </div>
                                                            <div class="tp-postbox-comment-content wow fadeInUp">
                                                                <div class="tp-postbox-comment-top d-flex justify-content-between">
                                                                    <div class="tp-postbox-comment-date">
                                                                        <span>{{ comment.created_at|date:"F j, Y \a\t g:i a" }}</span>
                                                                    </div>
                                                                    <div class="tp-postbox-comment-reply">
                                                                        <a href="#tp-postbox-contact-form" onclick="prepareReply('{{ comment.id }}', '{{ comment.name }}')">
                                                                            <i class="fa-light fa-reply"></i> REPLY
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tp-postbox-comment-author">
                                                                    <h4 class="tp-postbox-comment-name">{{ comment.name }}</h4>
                                                                </div>
                                                                <p>{{ comment.message }}</p>
                                                            </div>
                                                        </div>

                                                        {# Nested Replies loop #}
                                                        {% for reply in comment.replies.all %}
                                                        <div class="tp-postbox-comment-box-inner d-flex mt-30 ml-50" style="border-left: 2px solid #ededed; padding-left: 20px;">
                                                            <div class="tp-postbox-comment-avater wow fadeInUp">
                                                                <img src="{{ comment.logo.main_image.url }}" alt="{{ comment.logo.name }}" style="width: 45px; height: 45px; object-fit: cover; border-radius: 50%;">
                                                            </div>
                                                            <div class="tp-postbox-comment-content wow fadeInUp">
                                                                <div class="tp-postbox-comment-author">
                                                                    <h4 class="tp-postbox-comment-name">{{ reply.name }} <small>(Reply)</small></h4>
                                                                </div>
                                                                <p>{{ reply.message }}</p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% empty %}
                                                <div class="no-comments-msg">
                                                    <p>No comments yet. Be the first to share your thoughts!</p>
                                                </div>
                                            {% endfor %}
                                        </div>

                                        <div class="tp-postbox-comment-btn-box mt-20 text-center" id="view-all-wrapper" style="display: none;">
                                            <button type="button" class="tp-btn" onclick="showAllComments()">
                                                <span>View All Comments</span>
                                            </button>
                                        </div>
                                    </div> 
                                
                                    <div class="tp-postbox-contact-reply wow fadeInUp">
                                        <h3 class="tp-postbox-contact-title" id="reply-title">What's on your mind?</h3>
                                        <p id="reply-info" style="display:none; color: #007bff; margin-bottom: 10px;">
                                            Replying to <strong id="reply-name"></strong> 
                                            <button type="button" onclick="cancelReply()" style="color:red; border:none; background:none; cursor:pointer; font-size: 12px;#commentTag">(Cancel)</button>
                                        </p>

                                        <form id="tp-postbox-contact-form" method="POST" action="{% url 'blog_detail' blog.id %}">
                                            {% csrf_token %}
                                            
                                            {# IMPORTANT: This hidden field sends the parent ID to Django #}
                                            <input type="hidden" name="parent_id" id="parent_id_input" value="">

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="tp-postbox-contact-input">{{ form.name }}</div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="tp-postbox-contact-input">{{ form.email }}</div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="tp-postbox-contact-input">{{ form.website }}</div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="tp-postbox-contact-input">{{ form.message }}</div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="tp-postbox-contact-input-btn">
                                                        <button id ="commentTarget" class="tp-btn" type="submit"><span>Send your Message</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-7">
                                <div class="sidebar__wrapper">
                                    <div class="sidebar__widget sidebar__widget-theme-bg mb-35 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="sidebar__widget-content">
                                            <h3 class="sidebar__widget-title">Search</h3>
                                            <div class="sidebar__search">
                                                <form action="#">
                                                    <div class="sidebar__search-input-2">
                                                        <input type="text" placeholder="Keywords here....">
                                                        <button type="submit"><i class="far fa-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="sidebar__widget mb-30">
                                        <h3 class="sidebar__widget-title">Recent Post</h3>
                                        <div class="sidebar__widget-content">
                                            <div class="sidebar__post">
                                                {% for blog in recent_blogs %}
                                                <div class="rc__post mb-10 d-flex align-items-center wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                                    <div class="rc__post-thumb mr-20"> <a href="{% url 'blog_detail' blog.id %}">
                                                            <img src="{{ blog.main_image.url }}" alt="{{ blog.title }}" 
                                                                style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                                                        </a>
                                                    </div>
                                                    <div class="rc__post-content">
                                                        <h3 class="rc__post-title">
                                                            <a href="{% url 'blog_detail' blog.id %}">{{blog.title}}</a>
                                                        </h3>
                                                        <div class="rc__meta">
                                                            <span><i class="flaticon-clock"></i>
                                                                {{ blog.updated_at|date:"M d, Y" }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-service-details-wrapper-left wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="tp-service-details-box mb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                            <h4 class="tp-service-details-box-title">our services</h4>
                                            <ul>
                                                {% for product in product_count %}
                                                <li><a href="{% url 'service_tags' product.id %}">{{ product.name }} ({{ product.total_products}}) <span><i class="flaticon-next"></i></span> </a></li>
                                                {% endfor %}
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar__widget sidebar__widget-last mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <h3 class="sidebar__widget-title">Tag</h3>
                                        
                                        <div class="sidebar__widget-content">
                                            <div class="tagcloud">
                                                {# Only loop the anchor tags, not the containers #}
                                                {% for category in tags %}
                                                    <a href="{% url 'tags' category.id %}">{{ category.name }}</a>
                                                {% empty %}
                                                    <span>No tags available</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
                <!-- postbox area end -->
            </main>



{% endblock %}