{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}{{blog.title}} {% endblock %}

{% block content %}
    


    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>


                <!-- breadcrumb area start -->
                {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
                
                <!-- breadcrumb area end -->
                



                <!-- postbox area start -->
                <section class="tp-postbox-area pt-120 pb-120">
                    <div class="container">
                        <div class="row">
                            <div class="col-xxl-8 col-xl-8 col-lg-8">
                                <div class="tp-postbox-wrapper">
                                    <article class="tp-postbox-item wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="tp-postbox-thumb p-relative">
                                            <img src="{{blog.main_image.url}}" alt="">
                                        </div>
                                        <div class="tp-postbox-content">
                                            <h3 class="tp-postbox-title details">{{ blog.title | safe}}</h3>
                                            {% comment %} <h5 class="tp-postbox-sub-title">March 23, 2022 _ TRANSPORT _ BY Katty Olson _ 2 Comments</h5> {% endcomment %}
                                            <p class="tp-postbox-paragraph">{{blog.content | safe}}</p>
                                        </div>
                                    </article>

                                    <div class="row align-items-center tp-postbox-details-row mb-50">
                                        <div class="col-xl-10 col-lg-10 col-md-10">
                                            <div class="tp-postbox-details-tag details d-flex wow fadeInUp">
                                                <span>Posted in:</span>
                                                <div class="tp-postbox-tagcloud-social">
                                                    <a href="#">Development</a>
                                                    <a href="#">Digital</a>
                                                    <a href="#">Tech</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-lg-2 col-md-2">
                                            <div class="tp-postbox-details-share d-flex justify-content-end wow fadeInUp">
                                                <a href="#"><span><i class="flaticon-share"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-postbox-comment mb-50">
                                        <h3 class="tp-postbox-comment-title wow fadeInUp">01 Comments</h3>
                                        <div class="tp-postbox-comment-box border-mr p-relative">
                                            <div class="tp-postbox-comment-box-inner">
                                                <div class="tp-postbox-comment-avater wow fadeInUp">
                                                    <img src="assets/img/blog/blog-details-4.png" alt="">
                                                </div>
                                                <div class="tp-postbox-comment-content wow fadeInUp">
                                                    <div class="tp-postbox-comment-top">
                                                        <div class="tp-postbox-comment-date">
                                                            <span>September 6, 2022 at 1:28 pm </span>
                                                        </div>
                                                        <div class="tp-postbox-comment-reply">
                                                            <a href="#"><i class="fa-light fa-reply"></i>REPLY</a>
                                                        </div>
                                                    </div>
                                                    <div class="tp-postbox-comment-author d-flex align-items-center">
                                                        <h4 class="tp-postbox-comment-name">Nitisha Batman</h4>
                                                    </div>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipi vestibulum lectus egestas cubilia nam sagittis, nulla posuere habitant</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-postbox-contact-reply wow fadeInUp">
                                        <h3 class="tp-postbox-contact-title">Let’s Get in Touch</h3>
                                        <p class="tp-postbox-contact-pagagraph">Your email address will not be published. Required fields are marked *</p>
                                        <form id="tp-postbox-contact-form" action="assets/mail.php" method="POST">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="tp-postbox-contact-input">
                                                        <input name="name" type="text" placeholder="Your Name*">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="tp-postbox-contact-input">
                                                        <input name="email" type="email" placeholder="Your E-mail*">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="tp-postbox-contact-input">
                                                        <input name="name" type="text" placeholder="Website*">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="tp-postbox-contact-input">
                                                        <textarea placeholder="Write Your Comment*"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="tp-postbox-contact-input-btn">
                                                        <button class="tp-btn" type="submit"><span>Send your Meassage</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-7">
                                <div class="sidebar__wrapper">
                                    <div class="sidebar__widget sidebar__widget-theme-bg mb-35 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="sidebar__widget-content">
                                            <h3 class="sidebar__widget-title">Search</h3>
                                            <div class="sidebar__search">
                                                <form action="#">
                                                    <div class="sidebar__search-input-2">
                                                        <input type="text" placeholder="Keywords here....">
                                                        <button type="submit"><i class="far fa-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="sidebar__widget mb-30">
                                        <h3 class="sidebar__widget-title">Recent Post</h3>
                                        <div class="sidebar__widget-content">
                                            <div class="sidebar__post">
                                                {% for blog in recent_blogs %}
                                                <div class="rc__post mb-10 d-flex align-items-center wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                                    <div class="rc__post-thumb mr-20"> <a href="{% url 'blog_detail' blog.id %}">
                                                            <img src="{{ blog.main_image.url }}" alt="{{ blog.title }}" 
                                                                style="width: 80px; height: 80px; object-fit: cover; border-radius: 5px;">
                                                        </a>
                                                    </div>
                                                    <div class="rc__post-content">
                                                        <h3 class="rc__post-title">
                                                            <a href="">{{blog.title}}</a>
                                                        </h3>
                                                        <div class="rc__meta">
                                                            <span><i class="flaticon-clock"></i>
                                                                {{ blog.updated_at|date:"M d, Y" }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-service-details-wrapper-left wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <div class="tp-service-details-box mb-30 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                            <h4 class="tp-service-details-box-title">our services</h4>
                                            <ul>
                                                <li><a href="service-details.html">Data Visualization <span><i class="flaticon-next"></i></span> </a></li>
                                                <li><a class="active" href="blog-details.html">Product Development <span><i class="flaticon-next"></i></span></a></li>
                                                <li><a href="blog-details.html">Security System <span><i class="flaticon-next"></i></span></a></li>
                                                <li><a href="blog-details.html">UI/UX Designing <span><i class="flaticon-next"></i></span> </a></li>
                                                <li><a href="blog-details.html">Digital Marketing <span><i class="flaticon-next"></i></span></a></li>
                                                <li><a href="blog-details.html">Data Analytics <span><i class="flaticon-next"></i></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="sidebar__widget sidebar__widget-last mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                        <h3 class="sidebar__widget-title">Tag</h3>
                                        
                                        <div class="sidebar__widget-content">
                                            <div class="tagcloud">
                                                {# Only loop the anchor tags, not the containers #}
                                                {% for category in tags %}
                                                    <a href="{% url 'tags' category.id %}">{{ category.name }}</a>
                                                {% empty %}
                                                    <span>No tags available</span>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
                <!-- postbox area end -->





            </main>
{% endblock %}