
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %} Blog {% endblock %}

{% block content %}


    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>


                <!-- breadcrumb area start -->
                {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
                
                <!-- breadcrumb area end -->


                <!-- blog area start -->
                {% include 'beltechApp/refactors/latest_blog.html' %}
                {% include 'beltechApp/refactors/paginator.html' %}
                {% comment %} <div class="container mt-50">
                    {% include 'beltechApp/refactors/paginator.html' %}
                </div> {% endcomment %}
                

                <!-- product area start -->
                
                <div class="row align-items-end pt-50 mb-30">
                
                    <div class="container">
                        
                        <div class="row">
                            
                            {% for product in shoppaginators %}
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                    {% include 'beltechApp/refactors/item_list.html' %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                <!-- shop area end -->







            </main>
{% endblock %}