
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}About us {% endblock %}

{% block content %}
    <div id="smooth-wrapper">
        <div id="smooth-content">
            
                <!-- breadcrumb area start -->
                
                {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
        
                <!-- breadcrumb area end -->


                {% include 'beltechApp/refactors/faq.html' %}
                <!-- faq area end -->


{% endblock %}