
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}Home Page {% endblock %}

{% block content %}


    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <section class="tp-slider-2-area tp-slider-spacing-2 fix">
                    <div class="tp-slider-2-wrapper p-relative">
                        <div class="swiper-container tp-slider-2-active">
                            <div class="swiper-wrapper">

                                <!-- slide item 1 -->
                                {% for carousel in carousels %}
                                <div class="swiper-slide">
                                    <div class="tp-slider-2-height">
                                        <div class="tp-slider-2-bg tp-slider-2-overlay p-relative" data-background="{{carousel.image.url}}"></div>
                                        <div class="container">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
                                                    <div class="tp-slider-2-content text-center">
                                                        <div class="tp-slider-2-title-box mb-65">
                                                            <h6 class="tp-slider-2-sub-title">{{carousel.title}}</h6>
                                                            <h1 class="tp-slider-2-title">{{carousel.description}}</h1>
                                                        </div>
                                                        <div class="tp-slider-2-btn-box z-index-11 p-relative">
                                                            <a class="tp-btn" href="{% url 'contact' %}"><span>Contact us</span></a>
                                                        </div>
                                                        <div class="tp-slider-2-circle"></div>
                                                        <div class="tp-slider-2-circle-2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tp-slider-2-shape">
                                            <div class="tp-slider-2-shape-1">
                                                <div class="tp-slider-2-shape-1-img p-relative">
                                                    {% comment %} <img src="{% static 'beltechApp/assets/img/slider/shape/home-two/slider-2-shape1.png' %}" alt=""> {% endcomment %}
                                                    <span>{{carousel.discount}} <br>
                                                        OFF</span>
                                                </div>
                                            </div>
                                            <div class="tp-slider-2-left-shape">
                                                <div class="tp-slider-2-left-icon">
                                                    <a href="{% url 'contact' %}"><span><i class="flaticon-conversation"></i></span></a>
                                                    <span>Let’s Talk</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="tp-slider-2-dots dots-color">
                            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                        </div>
                    </div>
                </section>
                <!-- slider area end -->

                {% comment %} slide two ends {% endcomment %}


                <!-- feature area start -->
                
                {% include 'beltechApp/refactors/features.html'%}
                <!-- feature area end -->



                <section class="tp-service-area pt-120 pb-90" style="background-color: #fdf2e933;">
                    <div class="container">
                        <div class="row">
                            <div class="tp-section-title-wrapper mb-50 text-center">
                                <h3 class="tp-section-title tp-split-text right">Make Your Ideas With Beltech</h3>
                                <p class="tp-section-paragraph">Turn your ideas into premium products that leave a lasting <br>
                                    impression for a better experience.</p>
                            </div>
                        </div>
                        <div class="row">
                            {% for service in services %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="tp-service-wrapper tp-costom-wrapper-hover mb-30 wow fadeInUp h-100" 
                                    data-wow-delay=".3s" 
                                    data-wow-duration="1s">
                                    
                                    <div class="tp-service-thumb fix">
                                        <div class="tp-costom-inner-hover">
                                            <a href="service-details.html">
                                                <img src="{{ service.image.url }}" alt="{{ service.title }}" 
                                                    style="width: 100%; height: 250px; object-fit: cover; transition: transform 0.5s ease;">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="tp-service-content" style="padding: 30px; background: #fff; border: 1px solid #eee; border-top: none; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                                        <h4 class="tp-service-title" style="margin-bottom: 15px;">
                                            <a href="service-details.html" style="font-size: 22px; transition: 0.3s;">{{ service.title }}</a>
                                        </h4>
                                        <p class="tp-service-paragraph" style="min-height: 75px; color: #666; margin-bottom: 20px;">
                                            {{ service.description|truncatewords:12 }}
                                        </p>
                                        <div class="tp-service-btn">
                                            <a href="service-details.html" style="color: #ff5a01; font-weight: 600; text-transform: uppercase; font-size: 13px; letter-spacing: 1px;">
                                                Learn More <i class="fa-solid fa-arrow-right-long"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- service area end -->



                <!-- about area start -->
                {% include 'beltechApp/refactors/about.html' %}

                <!-- about area end -->


                <!-- product area start -->
                <section class="tp-product-area p-relative z-index-11">
                    <div class="container-fluid">
                        <div class="row tp-product-row">
                            
                            {% for latest in latests %}
                        <div class="col-xl-6 col-lg-6 mb-30"> 
                            <div class="tp-product-bg-overlay {% if forloop.counter|divisibleby:2 %}two{% endif %} fix wow fadeInUp">
                                <div class="row align-items-center">
                                    
                                    <div class="col-xl-5 col-lg-7 col-md-5">
                                        <div class="tp-product-left-wrapper">
                                            <div class="tp-product-content p-relative z-index-11">
                                                <h6 class="tp-product-sub-title">LATEST DESIGN</h6>
                                                <h3 class="tp-product-title">{{ latest.title }}</h3>
                                                <div class="tp-product-btn">
                                                    <a class="tp-btn-border" href="#"><span>View Project</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-7 col-lg-5 col-md-7">
                                        <div class="tp-product-right-wrapper">
                                            <div class="tp-product-right-img {% if forloop.counter|divisibleby:2 %}two{% else %}one{% endif %} p-relative z-index-1">
                                                
                                                <img src="{{ latest.image.url }}" alt="{{ latest.title }}" 
                                                    style="width: 100%; height: 300px; object-fit: cover; object-position: center; border-radius: 10px;">
                                                
                                                <div class="{% if forloop.counter|divisibleby:2 %}tp-product-right-img-shape-two{% else %}tp-product-right-img-shape{% endif %}">
                                                    {% if forloop.counter|divisibleby:2 %}
                                                        <img src="{% static 'beltechApp/assets/img/product/product-box-shape2.png' %}" alt="">
                                                    {% else %}
                                                        <img src="{% static 'beltechApp/assets/img/product/product-box-shape1.png' %}" alt="">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        </div>
                    </div>
                </section>               
                <!-- product area end -->

                <!-- project area start -->
                <section class="tp-project-area fix pt-120">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="tp-project-section mb-60 wow fadeInUp">
                                    <div class="tp-section-title-wrapper text-center">
                                        <h6 class="tp-section-sub-title">SEE OUR PROJECTS</h6>
                                        <h3 class="tp-section-title tp-split-text right">Explore Our Recent Project <br>
                                            Already We’ve Done</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="tp-project-slider">
                                    <div class="tp-project-active swiper-container wow fadeInUp" style="min-height: 450px;">
                                        <div class="swiper-wrapper">
                                            {% for recent in recents %}
                                            <div class="tp-project-item swiper-slide">
                                                <div class="tp-project-wrapper p-relative z-index-1" style="margin-bottom: 30px;">
                                                    <div class="tp-project-thumb" style="overflow: hidden; border-radius: 12px;">
                                                        <img src="{{recent.image.url}}" alt="{{ recent.name }}" 
                                                            style="width: 100%; height: 400px; object-fit: cover; display: block;">
                                                    </div>
                                                    <div class="tp-project-content-box">
                                                        <div class="tp-project-content">
                                                            <div class="tp-project-content-inner">
                                                                <h6 class="tp-project-sub-title">{{ recent.category.name|default:"Project" }}</h6>
                                                                <h4 class="tp-project-title">
                                                                    <a href="#">{{ recent.title|default:"Custom Print Designing" }}</a>
                                                                </h4>
                                                            </div>
                                                            <div class="tp-project-button d-flex">
                                                                <a class="popup-image mr-10" href="{{ recent.image.url }}">
                                                                    <span><i class="flaticon-search"></i></span>
                                                                </a>
                                                                <a href="#">
                                                                    <span><i class="flaticon-hyperlink"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tp-project-dot mt-60" style="display: flex; justify-content: center;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- project area end -->

                <!-- product area start -->
                {% include 'beltechApp/refactors/product.html'%}
                <!-- shop area end -->



                <!-- call to action area start -->
                <section class="tp-cta-area pt-160 pb-150 p-relative z-index-1">
                    <div class="tp-cta-bg-shape">
                        <img class="tp-cta-bg-shape-1" src="{% static 'beltechApp/assets/img/cta/cta-shape1.png' %}" alt="">
                        <img class="tp-cta-bg-shape-2" src="{% static 'beltechApp/assets/img/cta/cta-shape2.png' %}" alt="">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <div class="tp-cta-wrapper text-center">
                                    <div class="tp-section-title-wrapper mb-50">
                                        <h6 class="tp-section-sub-title">Contact us for more</h6>
                                        <h3 class="tp-section-title tp-split-text right">Most Professional Printing
                                            Agency in City</h3>
                                    </div>
                                    <div class="tp-cta-btn text-center">
                                        <a class="tp-btn-border" href="contact.html"><span>Contact Us</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- call to action area end -->



                <!-- team area start -->
                <section class="tp-team-area pt-120 pb-90">
                    <div class="container">
                        <div class="row align-items-end mb-45">
                            <div class="col-xl-6 col-lg-8">
                                <div class="tp-team-section-wrapper wow fadeInLeft">
                                    <div class="tp-section-title-wrapper">
                                        <h6 class="tp-section-sub-title">OUR TEAM MEMBERS</h6>
                                        <h3 class="tp-section-title tp-split-text right">Meet With Our <br>
                                            Awesome Team Mates</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4">
                                {% comment %} <div class="tp-team-btn-wrapper d-flex justify-content-end wow fadeInRight">
                                    <a class="tp-btn" href="team-details.html"><span>View all Team</span></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                        <!-- team area start -->
                        {% include 'beltechApp/refactors/team.html'%}
                        <!-- team area end -->
                    </div>
                </section>
                <!-- team area end -->



                <!-- testimonial area start -->
                <section class="tp-testimonial-2-area pt-20 pb-0 p-relative z-index-1">
                    {% comment %} <div class="tp-testimonial-2-bg-shape">
                        <img src="assets/img/testimonial/testimonial-bg-shape.png" alt="">
                    </div> {% endcomment %}
                    <div class="container">
                        <div class="row align-items-end mb-60">
                            <div class="col-xl-6 col-lg-9">
                                <div class="tp-section-title-wrapper">
                                    <h6 class="tp-section-sub-title">FREQUENTLY ASKED QUESTION</h6>
                                    <h3 class="tp-section-title tp-split-text right">What Our Clients Ask
                                        About Presvila</h3>
                                </div>
                            </div>
                            {% comment %} <div class="col-xl-6 col-lg-3">
                                <div class="tp-testimonial-2-arrow-box">
                                    <button class="slider-prev" tabindex="0" aria-label="Previous slide">
                                        <i class="fa-sharp fa-light fa-arrow-left"></i>
                                    </button>
                                    <button class="slider-next" tabindex="0" aria-label="Next slide">
                                        <i class="fa-sharp fa-light fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        
                                
                        {% include 'beltechApp/refactors/testimonial.html' %}
                           
                    </div>
                </section>
                <!-- testimonial area end -->




                <!-- blog area start -->
                {% include 'beltechApp/refactors/latest_blog.html'%}
                <!-- blog area end -->



                
{% endblock %}
     