
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}Home Page {% endblock %}

{% block content %}


    <div id="smooth-wrapper">
        <div id="smooth-content">

            <main>

                <section class="tp-slider-2-area tp-slider-spacing-2 fix">
                    <div class="tp-slider-2-wrapper p-relative">
                        <div class="swiper-container tp-slider-2-active">
                            <div class="swiper-wrapper">

                                <!-- slide item 1 -->
                                {% for carousel in carousels %}
                                <div class="swiper-slide">
                                    <div class="tp-slider-2-height">
                                        <div class="tp-slider-2-bg tp-slider-2-overlay p-relative" data-background="{{carousel.image.url}}"></div>
                                        <div class="container">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col-xl-8 col-lg-10 col-md-11 col-sm-12">
                                                    <div class="tp-slider-2-content text-center">
                                                        <div class="tp-slider-2-title-box mb-65">
                                                            <h6 class="tp-slider-2-sub-title">{{carousel.title}}</h6>
                                                            <h1 class="tp-slider-2-title">{{carousel.description}}</h1>
                                                        </div>
                                                        <div class="tp-slider-2-btn-box z-index-11 p-relative">
                                                            <a class="tp-btn" href="contact.html"><span>Contact us</span></a>
                                                        </div>
                                                        <div class="tp-slider-2-circle"></div>
                                                        <div class="tp-slider-2-circle-2"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tp-slider-2-shape">
                                            <div class="tp-slider-2-shape-1">
                                                <div class="tp-slider-2-shape-1-img p-relative">
                                                    <img src="{% static 'beltechApp/assets/img/slider/shape/home-two/slider-2-shape1.png' %}" alt="">
                                                    <span>{{carousel.discount}} <br>
                                                        OFF</span>
                                                </div>
                                            </div>
                                            <div class="tp-slider-2-left-shape">
                                                <div class="tp-slider-2-left-icon">
                                                    <a href="mailto:"><span><i class="flaticon-conversation"></i></span></a>
                                                    <span>Let’s Talk</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="tp-slider-2-dots dots-color">
                            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 1"></span>
                            <span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span>
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 3"></span>
                        </div>
                    </div>
                </section>
                <!-- slider area end -->

                {% comment %} slide two ends {% endcomment %}


                <!-- feature area start -->
                
                <section class="tp-feature-2-area pt-120 pb-90">
                    <div class="container">
                        <div class="row">
                            <div class="co-xl-6">
                                <div class="tp-section-title-wrapper mb-50">
                                    <h6 class="tp-section-sub-title">WE ALWYAS BELIEVE IN QUALITY</h6>
                                    <h3 class="tp-section-title tp-split-text right">Beltech Printing Press</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-50">
                            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="tp-feature-2-top-wrapper">
                                    <div class="tp-feature-2-icon"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="tp-feature-2-top-wrapper">
                                    <div class="tp-feature-2-icon"></div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="tp-feature-2-top-wrapper">
                                    <div class="tp-feature-2-icon"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for feature in features %}
                            <div class="col-xl-4 col-lg-4 col-md-4">
                                <div class="tp-feature-2-wrapper mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                    <div class="tp-feature-2-content">
                                        <h4 class="tp-feature-2-title">{{ feature.title }}</h4>
                                        <p class="tp-feature-2-paragraph">{{ feature.description }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </section>
                <!-- feature area end -->



                <!-- service area start -->
                <section class="tp-service-area">
                    <div class="container">
                        <div class="row">
                            <div class="tp-section-title-wrapper mb-50 text-center">
                                <h3 class="tp-section-title tp-split-text right">Make Your Ideas With Beltech</h3>
                                <p class="tp-section-paragraph">Turn your ideas into premium products that leave a lasting <br>
                                    impression for a better experience.</p>
                            </div>
                        </div>
                        <div class="row">
                            {% for service in services %}
                            <div class="col-xl-4 col-lg-4 col-md-6">
                                <div class="tp-service-wrapper tp-costom-wrapper-hover mb-30 wow fadeInUp" 
                                    data-wow-delay="{% if forloop.counter == 1 %}.3s{% elif forloop.counter == 2 %}.5s{% else %}.7s{% endif %}" 
                                    data-wow-duration="1s">
                                    
                                    <div class="tp-service-thumb fix 
                                        {% if forloop.counter == 2 %}two{% elif forloop.counter == 3 %}three{% endif %}">
                                        <div class="tp-costom-inner-hover">
                                            <a href="service-details.html">
                                                <img src="{{ service.image.url }}" alt="{{ service.title }}" style="width: 100%; height: auto; object-fit: cover;">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="tp-service-content">
                                        <h4 class="tp-service-title">
                                            <a href="service-details.html">{{ service.title }}</a>
                                        </h4>
                                        <p class="tp-service-paragraph">{{ service.description|truncatewords:15 }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!-- service area end -->



                <!-- about area start -->
                <section class="tp-about-area pt-40 pb-120">
                    <div class="container">
                        <div class="row align-items-center">
                            
                            <div class="col-xl-6 col-lg-6">
                                <div class="tp-about-left-wrapper mt-100 wow fadeInLeft" data-wow-delay=".3s">
                                    <div class="tp-about-thumb p-relative" data-tilt style="perspective: 1000px;">
                                        
                                        <img src="{{ about.image.url }}" alt="Background" class="main-img" 
                                            style="width: 100%; border-radius: 20px; box-shadow: 0 20px 40px rgba(0,0,0,0.05);">

                                        <div class="tp-about-thumb-shape">
                                            {% if about.image1 %}
                                                <img class="tp-about-thumb-shape-1" src="{{ about.image1.url }}" alt="man"
                                                    style="max-width: 80%; height: auto; bottom: -20px; right: -10px;">
                                            {% endif %}
                                            
                                            {% if about.image2 %}
                                                <img class="tp-about-thumb-shape-2" src="{{ about.image2.url }}" alt="shape"
                                                    style="max-width: 100px; opacity: 0.8;">
                                            {% endif %}
                                            
                                            {% if about.image3 %}
                                                <img class="tp-about-thumb-shape-3" src="{{ about.image3.url }}" alt="shape"
                                                    style="max-width: 80px; opacity: 0.6;">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-10">
                                <div class="tp-about-right-wrapper wow fadeInRight" data-wow-delay=".5s" style="padding-left: 30px;">
                                    
                                    <div class="tp-section-title-wrapper mb-40">
                                        <h6 class="tp-section-sub-title" style="color: #6c757d; letter-spacing: 2px; text-transform: uppercase; font-size: 14px;">
                                            {{ about.title }}
                                        </h6>
                                        <h3 class="tp-section-title tp-split-text right" style="font-weight: 700; line-height: 1.2; margin-bottom: 20px;">
                                            Beltech Provide <br> 
                                            <span style="color: var(--tp-theme-primary, #007bff);">100% Complete Printing</span>
                                        </h3>
                                        <p class="tp-section-paragraph" style="font-size: 16px; color: #5f5f5f; line-height: 1.8;">
                                            {{ about.description }}
                                        </p>
                                    </div>

                                    <div class="tp-about-features mb-45">
                                        <div class="tp-about-icon-box mb-30 d-flex align-items-start">
                                            <div class="tp-about-icon" style="background: #f8f9fa; padding: 15px; border-radius: 12px;">
                                                <span style="font-size: 24px;">{{ about.icon1 | safe }}</span>
                                            </div>
                                            <div class="tp-about-right-title ml-20">
                                                <h4 style="font-size: 18px; font-weight: 600; margin-bottom: 5px;">Reliable Quality</h4>
                                                <p class="mb-0" style="font-size: 14px; opacity: 0.8;">{{ about.description1 }}</p>
                                            </div>
                                        </div>

                                        <div class="tp-about-icon-box d-flex align-items-start">
                                            <div class="tp-about-icon" style="background: #f8f9fa; padding: 15px; border-radius: 12px;">
                                                <span style="font-size: 24px;">{{ about.icon2 | safe }}</span>
                                            </div>
                                            <div class="tp-about-right-title ml-20">
                                                <h4 style="font-size: 18px; font-weight: 600; margin-bottom: 5px;">Smooth Automation</h4>
                                                <p class="mb-0" style="font-size: 14px; opacity: 0.8;">{{ about.description2 }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tp-about-button-item d-flex align-items-center">
                                        <div class="tp-about-btn">
                                            <a class="tp-btn" href="about.html" style="padding: 15px 35px; border-radius: 50px;">
                                                <span>Discover More</span>
                                            </a>
                                        </div>
                                        
                                        <div class="tp-about-call-item ml-50">
                                            <a class="d-flex align-items-center" href="tel:{{ about.phone }}">
                                                <div class="tp-about-call-icon" style="position: relative;">
                                                    <img src="{{ about.image_expert.url }}" alt="expert" 
                                                        style="width: 55px; height: 55px; border-radius: 50%; object-fit: cover; border: 3px solid #fff; box-shadow: 0 5px 15px rgba(0,0,0,0.1);">
                                                </div>
                                                <div class="tp-about-call-number ml-15">
                                                    <span style="display: block; font-size: 13px; color: #888;">Call to Expert</span>
                                                    <p class="mb-0" style="font-weight: 700; font-size: 16px; color: #111;">{{ about.phone }}</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- about area end -->



                <!-- product area start -->
                <section class="tp-product-area p-relative z-index-11">
                    <div class="container-fluid">
                        <div class="row tp-product-row">
                            
                            {% for latest in latests %}
                            <div class="col-xl-6 col-lg-6 mb-30"> <div class="tp-product-bg-overlay {% if forloop.counter|divisibleby:2 %}two{% endif %} fix wow fadeInUp">
                                    <div class="row align-items-center">
                                        
                                        <div class="col-xl-5 col-lg-7 col-md-5">
                                            <div class="tp-product-left-wrapper">
                                                <div class="tp-product-content p-relative z-index-11">
                                                    <h6 class="tp-product-sub-title">LATEST DESIGN</h6>
                                                    <h3 class="tp-product-title">{{ latest.title }}</h3>
                                                    <div class="tp-product-btn">
                                                        <a class="tp-btn-border" href="#"><span>View Project</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-7 col-lg-5 col-md-7">
                                            <div class="tp-product-right-wrapper">
                                                <div class="tp-product-right-img {% if forloop.counter|divisibleby:2 %}two{% else %}one{% endif %} p-relative z-index-1">
                                                    
                                                    <img src="{{ latest.image.url }}" alt="{{ latest.title }}" style="width: 100%; object-fit: cover;">
                                                    
                                                    <div class="{% if forloop.counter|divisibleby:2 %}tp-product-right-img-shape-two{% else %}tp-product-right-img-shape{% endif %}">
                                                        {% if forloop.counter|divisibleby:2 %}
                                                            <img src="{% static 'beltechApp/assets/img/product/product-box-shape2.png' %}" alt="">
                                                        {% else %}
                                                            <img src="{% static 'beltechApp/assets/img/product/product-box-shape1.png' %}" alt="">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>               
                <!-- product area end -->

                <!-- project area start -->
                <section class="tp-project-area fix pt-120">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xl-6">
                                <div class="tp-project-section mb-60 wow fadeInUp">
                                    <div class="tp-section-title-wrapper text-center">
                                        <h6 class="tp-section-sub-title">SEE OUR PROJECTS</h6>
                                        <h3 class="tp-section-title tp-split-text right">Explore Our Recent Project <br>
                                            Already We’ve Done</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="tp-project-slider">
                                    <div class="tp-project-active swiper-container wow fadeInUp" style="min-height: 450px;">
                                        <div class="swiper-wrapper">
                                            {% for recent in recents %}
                                            <div class="tp-project-item swiper-slide">
                                                <div class="tp-project-wrapper p-relative z-index-1" style="margin-bottom: 30px;">
                                                    <div class="tp-project-thumb" style="overflow: hidden; border-radius: 12px;">
                                                        <img src="{{recent.image.url}}" alt="{{ recent.name }}" 
                                                            style="width: 100%; height: 400px; object-fit: cover; display: block;">
                                                    </div>
                                                    <div class="tp-project-content-box">
                                                        <div class="tp-project-content">
                                                            <div class="tp-project-content-inner">
                                                                <h6 class="tp-project-sub-title">{{ recent.category.name|default:"Project" }}</h6>
                                                                <h4 class="tp-project-title">
                                                                    <a href="#">{{ recent.title|default:"Custom Print Designing" }}</a>
                                                                </h4>
                                                            </div>
                                                            <div class="tp-project-button d-flex">
                                                                <a class="popup-image mr-10" href="{{ recent.image.url }}">
                                                                    <span><i class="flaticon-search"></i></span>
                                                                </a>
                                                                <a href="#">
                                                                    <span><i class="flaticon-hyperlink"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tp-project-dot mt-60" style="display: flex; justify-content: center;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- project area end -->

                <!-- product area start -->
                {% include 'beltechApp/refactors/product.html'%}
                <!-- shop area end -->



                <!-- call to action area start -->
                <section class="tp-cta-area pt-160 pb-150 p-relative z-index-1">
                    <div class="tp-cta-bg-shape">
                        <img class="tp-cta-bg-shape-1" src="{% static 'beltechApp/assets/img/cta/cta-shape1.png' %}" alt="">
                        <img class="tp-cta-bg-shape-2" src="{% static 'beltechApp/assets/img/cta/cta-shape2.png' %}" alt="">
                    </div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-9">
                                <div class="tp-cta-wrapper text-center">
                                    <div class="tp-section-title-wrapper mb-50">
                                        <h6 class="tp-section-sub-title">Contact us for more</h6>
                                        <h3 class="tp-section-title tp-split-text right">Most Professional Printing
                                            Agency in City</h3>
                                    </div>
                                    <div class="tp-cta-btn text-center">
                                        <a class="tp-btn-border" href="contact.html"><span>Contact Us</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- call to action area end -->



                <!-- team area start -->
                <section class="tp-team-area pt-120 pb-90">
                    <div class="container">
                        <div class="row align-items-end mb-45">
                            <div class="col-xl-6 col-lg-8">
                                <div class="tp-team-section-wrapper wow fadeInLeft">
                                    <div class="tp-section-title-wrapper">
                                        <h6 class="tp-section-sub-title">OUR TEAM MEMBERS</h6>
                                        <h3 class="tp-section-title tp-split-text right">Meet With Our <br>
                                            Awesome Team Mates</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-4">
                                <div class="tp-team-btn-wrapper d-flex justify-content-end wow fadeInRight">
                                    <a class="tp-btn" href="team-details.html"><span>View all Team</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="tp-team-wrapper tp-costom-wrapper-hover fix p-relative mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                                    <div class="tp-team-img fix">
                                        <div class="tp-team-img-inner tp-costom-inner-hover">
                                            <a href="team-details.html"><img src="{% static 'beltechApp/assets/img/team/team-img1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="tp-team-content">
                                            <h4 class="tp-team-title"><a href="team-details.html">Shajib Hasan</a></h4>
                                            <p>Designer</p>
                                            <div class="tp-team-social">
                                                <div class="tp-team-btn">
                                                    <button><i class="fa-sharp fa-regular fa-share-nodes"></i></button>
                                                </div>
                                                <div class="tp-team-icon">
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="tp-team-wrapper fix tp-costom-wrapper-hover mb-30 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                                    <div class="tp-team-img fix p-relative">
                                        <div class="tp-team-img-inner tp-costom-inner-hover">
                                            <a href="team-details.html"><img src="assets/img/team/team-img2.jpg" alt=""></a>
                                        </div>
                                        <div class="tp-team-content">
                                            <h4 class="tp-team-title"><a href="team-details.html">Janes Cooper</a></h4>
                                            <p>Consultant</p>
                                            <div class="tp-team-social">
                                                <div class="tp-team-btn">
                                                    <button><i class="fa-sharp fa-regular fa-share-nodes"></i></button>
                                                </div>
                                                <div class="tp-team-icon">
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="tp-team-wrapper fix tp-costom-wrapper-hover mb-30 fix wow fadeInUp" data-wow-delay=".7s" data-wow-duration="1s">
                                    <div class="tp-team-img fix p-relative">
                                        <div class="tp-team-img-inner tp-costom-inner-hover">
                                            <a href="team-details.html"><img src="{% static 'beltechApp/assets/img/team/team-img1.jpg' %}" alt=""></a>
                                        </div>
                                        <div class="tp-team-content">
                                            <h4 class="tp-team-title"><a href="team-details.html">Leana Dcruz</a></h4>
                                            <p>Content Creator</p>
                                            <div class="tp-team-social">
                                                <div class="tp-team-btn">
                                                    <button><i class="fa-sharp fa-regular fa-share-nodes"></i></button>
                                                </div>
                                                <div class="tp-team-icon">
                                                    <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                                                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- team area end -->



                <!-- testimonial area start -->
                <section class="tp-testimonial-2-area pt-120 pb-120 p-relative z-index-1">
                    <div class="tp-testimonial-2-bg-shape">
                        <img src="assets/img/testimonial/testimonial-bg-shape.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row align-items-end mb-60">
                            <div class="col-xl-6 col-lg-9">
                                <div class="tp-section-title-wrapper">
                                    <h6 class="tp-section-sub-title">FREQUENTLY ASKED QUESTION</h6>
                                    <h3 class="tp-section-title tp-split-text right">What Our Clients Ask
                                        About Presvila</h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-3">
                                <div class="tp-testimonial-2-arrow-box">
                                    <button class="slider-prev" tabindex="0" aria-label="Previous slide">
                                        <i class="fa-sharp fa-light fa-arrow-left"></i>
                                    </button>
                                    <button class="slider-next" tabindex="0" aria-label="Next slide">
                                        <i class="fa-sharp fa-light fa-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xxl-12">
                                <div class="tp-testimonial-2-slider p-relative">
                                    <div class="tp-testimonial-2-active swiper-container wow fadeInUp">
                                        <div class="swiper-wrapper">
                                            <!-- Slide 1 -->
                                            <div class="tp-testimonial-2-wrapper swiper-slide p-relative z-index-1">
                                                <div class="tp-testimonial-2-review">
                                                    <img src="assets/img/testimonial/testimonial-2-review.png" alt="">
                                                </div>
                                                <div class="tp-testimonial-2-content">
                                                    <p>Pension schemes ensu security during retirement years for eligible individua. Retirement pensions provide fina</p>
                                                </div>
                                                <div class="tp-testimonial-2-bio">
                                                    <div class="tp-testimonial-2-member">
                                                        <img src="assets/img/testimonial/testimonial-2-member1.png" alt="">
                                                    </div>
                                                    <div class="tp-testimonial-2-name">
                                                        <h4>Hazard Will</h4>
                                                        <p>Delivery Man</p>
                                                    </div>
                                                </div>
                                                <div class="tp-testimonial-2-wrapper-shape">
                                                    <img src="assets/img/testimonial/testimonial-2-box-shape.png" alt="">
                                                </div>
                                            </div>
                                            <!-- Slide 2 -->
                                            <div class="tp-testimonial-2-wrapper swiper-slide p-relative z-index-1">
                                                <div class="tp-testimonial-2-review">
                                                    <img src="assets/img/testimonial/testimonial-2-review.png" alt="">
                                                </div>
                                                <div class="tp-testimonial-2-content">
                                                    <p>Pension schemes ensu security during retirement years for eligible individua. Retirement pensions provide fina</p>
                                                </div>
                                                <div class="tp-testimonial-2-bio">
                                                    <div class="tp-testimonial-2-member">
                                                        <img src="assets/img/testimonial/testimonial-2-member2.png" alt="">
                                                    </div>
                                                    <div class="tp-testimonial-2-name">
                                                        <h4>Muhammad IK</h4>
                                                        <p>Printer</p>
                                                    </div>
                                                </div>
                                                <div class="tp-testimonial-2-wrapper-shape">
                                                    <img src="assets/img/testimonial/testimonial-2-box-shape.png" alt="">
                                                </div>
                                            </div>
                                            <!-- Slide 3 -->
                                            <div class="tp-testimonial-2-wrapper swiper-slide p-relative z-index-1">
                                                <div class="tp-testimonial-2-review">
                                                    <img src="assets/img/testimonial/testimonial-2-review.png" alt="">
                                                </div>
                                                <div class="tp-testimonial-2-content">
                                                    <p>Pension schemes ensu security during retirement years for eligible individua. Retirement pensions provide fina</p>
                                                </div>
                                                <div class="tp-testimonial-2-bio">
                                                    <div class="tp-testimonial-2-member">
                                                        <img src="assets/img/testimonial/testimonial-2-member3.png" alt="">
                                                    </div>
                                                    <div class="tp-testimonial-2-name">
                                                        <h4>Richard Piko</h4>
                                                        <p>Printer</p>
                                                    </div>
                                                </div>
                                                <div class="tp-testimonial-2-wrapper-shape">
                                                    <img src="assets/img/testimonial/testimonial-2-box-shape.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- testimonial area end -->




                <!-- blog area start -->
                {% include 'beltechApp/refactors/latest_blog.html'%}
                <!-- blog area end -->



                
{% endblock %}
     