
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}Our service {% endblock %}

{% block content %}
    
    

<div id="smooth-wrapper">
    {% comment %} <div id="smooth-content"> {% endcomment %}
        
        <!-- breadcrumb area start -->
        {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
        
        <!-- breadcrumb area end -->

        <!-- product-top area start -->
        <section class="tp-product-2-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="tp-section-title-wrapper mb-30">
                        <h6 class="tp-section-sub-title">WE ALWYAS BELIEVE IN QUALITY</h6>
                        <h3 class="tp-section-title mb-35 tp-split-text right">Explore All Catagories</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-12">
                        <div class="tp-product-2-slider p-relative">
                            <div class="tp-product-2-active swiper-container wow fadeInUp">
                                <div class="swiper-wrapper">
                                    <!-- Slide  -->
                                    {% for category in categories %}
                                    <div class="tp-product-2-wrapper tp-costom-wrapper-hover fix swiper-slide">
                                        <div class="tp-product-2-thumb fix mb-15">
                                            <div class="tp-costom-inner-hover">
                                                <a href="shop-details.html"><img src="{{ category.image.url }}" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="tp-product-2-content text-center">
                                            <h4 class="tp-product-2-title"><a href="shop-details.html">{{ category.name }}</a></h4>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <div class="tp-product-2-arrow-box">
                                <button class="slider-prev" tabindex="0" aria-label="Previous slide">
                                    <i class="fa-sharp fa-regular fa-arrow-left"></i>
                                </button>
                                <button class="slider-next" tabindex="0" aria-label="Next slide">
                                    <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product-top area end -->



        <!-- product-center area start -->
        {% include 'beltechApp/refactors/latest_design.html'%}
        <!-- product-center area end -->



        <!-- shop area start -->
        <section class="tp-product-area pb-40">
            <div class="container">
                <div class="row align-items-center mb-45">
                    <div class="col-xl-8 col-lg-8">
                        <div class="tp-product-3-coundown-wrapper d-flex">
                            <div class="tp-product-3-coundown-title mr-30">
                                <h3 class="tp-split-text right">Date of the Day</h3>
                            </div>
                            <div class="tp-product-3-countdown" data-countdown data-date="Dec 30 2026 20:20:12">
                                <div class="tp-product-3-countdown-inner">
                                    <ul>
                                        <li><span data-days>0</span>:</li>
                                        <li><span data-hours>0</span>:</li>
                                        <li><span data-minutes>0</span>:</li>
                                        <li><span data-seconds>0</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="tp-product-3-coundown-btn d-flex justify-content-end">
                            <a class="tp-btn-border" href="cart.html"><span>View All Products</span></a>
                        </div>
                    </div>
                </div>

                <div class="row align-items-end mb-50">
                    {% for product in products %}
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                        <div class="product_wrapper two mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                            <div class="product__item p-relative">
                                <div class="product__top-brand d-flex justify-content-between mb-15">
                                    <div class="product__top-name">
                                        <i class="fas fa-folder"></i>
                                        <span>{{ product.category.name|default:"Product" }}</span>
                                    </div>
                                    <div class="product__top-price">
                                        <a href="cart.html">N{{ product.base_price }}</a>
                                    </div>
                                </div>
                                <div class="product__thumb w-img p-relative fix mb-10">
                                    <a href="shop-details.html">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    <div class="product__action d-flex flex-column flex-wrap">
                                        <button type="button" class="product-action-btn">
                                            <i class="fa-regular fa-heart"></i>
                                            <span class="product-action-tooltip">Add To Wishlist</span>
                                        </button>
                                        <button type="button" class="product-action-btn" data-bs-toggle="modal" data-bs-target="#productModal">
                                            <i class="fa-regular fa-eye"></i>
                                            <span class="product-action-tooltip">Quick view</span>
                                        </button>
                                    </div>
                                    <div class="product__add transition-3">
                                        <button type="button" class="product-add-cart-btn w-100">
                                            Add to Cart
                                        </button>
                                    </div>
                                </div>
                                <div class="product__content text-center">
                                    <div class="product__content-wrapper">
                                        <h3 class="product__title">
                                            <a href="shop-details.html">{{ product.name }}</a>
                                        </h3>
                                    </div>
                                    <div class="product__rating d-flex justify-content-center">
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                        <span><i class="fa-solid fa-star"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- shop area end -->

        <!-- blog area start -->
        {% include 'beltechApp/refactors/latest_blog.html'%}
        <!-- blog area end -->
</div>



        
    
    



    






{% endblock %}
