
{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}Our service {% endblock %}

{% block content %}
    
    

<div id="smooth-wrapper">
    {% comment %} <div id="smooth-content"> {% endcomment %}
        
    <!-- breadcrumb area start -->
    {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
    
    <!-- breadcrumb area end -->

    <!-- feature area start -->
    {% include 'beltechApp/refactors/features.html'%}
               
    <!-- feature area end -->



    <!-- service area start -->
    <div class="row">
    {% for service in services %}
    <div class="col-xl-6 col-lg-12 mb-30">
        <div class="tp-service-fancy-card wow fadeInUp h-100" data-wow-delay=".3s">
            <div class="row align-items-center g-0">
                <div class="col-md-4">
                    <div class="service-fancy-img">
                        <img src="{{ service.image.url }}" alt="{{ service.name }}">
                        <div class="service-count">0{{ forloop.counter }}</div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="service-fancy-content">
                        <h4 class="service-fancy-title">
                            <a href="{% url 'service_detail' service.id %}">{{ service.name }}</a>
                        </h4>
                        <div class="service-fancy-text">
                            {{ service.description|striptags|truncatewords:20 }}
                        </div>
                        <div class="service-fancy-actions">
                            <a href="{% url 'service_detail' service.id %}" class="read-more">Learn More <i class="fa-solid fa-plus"></i></a>
                            <a href="https://wa.me/{{ settings.whatsapp_number }}?text=Hello%20Beltech,%20I'm%20interested%20in%20your%20{{ service.name }}%20service." 
                               class="whatsapp-btn-mini">
                                <i class="fa-brands fa-whatsapp"></i> Inquiry
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <!-- service area end -->



    <!-- product-top area start -->
    {% include 'beltechApp/refactors/product_category.html'%}
    <!-- product-top area end -->



    <!-- product-center area start -->
    {% include 'beltechApp/refactors/latest_design.html'%}
    <!-- product-center area end -->



    <!-- shop area start -->
    <section class="tp-product-area pb-40">
        <div class="container">
            <div class="row align-items-center mb-45">
                <div class="col-xl-8 col-lg-8">
                    <div class="tp-product-3-coundown-wrapper d-flex">
                        <div class="tp-product-3-coundown-title mr-30">
                            <h3 class="tp-split-text right">Date of the Day</h3>
                        </div>
                        <div class="tp-product-3-countdown" data-countdown data-date="Dec 30 2026 20:20:12">
                            <div class="tp-product-3-countdown-inner">
                                <ul>
                                    <li><span data-days>0</span>:</li>
                                    <li><span data-hours>0</span>:</li>
                                    <li><span data-minutes>0</span>:</li>
                                    <li><span data-seconds>0</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="tp-product-3-coundown-btn d-flex justify-content-end">
                        <a class="tp-btn-border" href="{% url 'shop' %}"><span>View All Products</span></a>
                    </div>
                </div>
            </div>

            
            <div class="container">
                <div class="row">
                    {% for product in products %}
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            {% include 'beltechApp/refactors/item_list.html' %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        
            
        </div>
    </section>
    <!-- shop area end -->

    <!-- blog area start -->
    {% include 'beltechApp/refactors/latest_blog.html'%}
    <!-- blog area end -->
</div>



        
    
    



    






{% endblock %}
