

{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}Our service {% endblock %}

{% block content %}

    <div id="smooth-wrapper">
        <div id="smooth-content">
    

        
        <!-- breadcrumb area start -->
        {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
        
            
        <!-- breadcrumb area end -->




        <!-- shop-product area start -->
        <section class="tp-shop-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="tp-shop-sidebar mb-40">
                            <div class="tp-shop-sidebar-search mb-30 wow fadeInUp">
                                <input type="text" placeholder="Search Products">
                                <div class="tp-shop-sidebar-search-icon">
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                </div>
                            </div>
                            <div class="tp-shop-sidebar-category mb-30 wow fadeInUp">
                                <h4 class="tp-shop-sidebar-title mb-25">Categories</h4>
                                <div class="tp-shop-sidebar-category-wrap">
                                    {% for category in categorys %}
                                    <div class="tp-shop-sidebar-category-item">
                                        <a href="shop-details.html">{{ category.name }}</a>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            
                            <div class="tp-shop-sidebar-sell mb-30 wow fadeInUp">
                                <h4 class="tp-shop-sidebar-title mb-25">Recent products</h4>
                                <div class="tp-shop-sidebar-sell-wrap">
                                    {% for recent in recent_products %}
                                    <div class="tp-shop-sidebar-sell-item d-flex mb-20">
                                       <div class="tp-shop-sidebar-sell-item-thumb">
                                          <a href="shop-details.html">
                                             <img src="{{recent.image.url}}" alt="{{recent.name}}">
                                          </a>
                                       </div>
                                       <div class="tp-shop-sidebar-sell-item-content">
                                          <h5 class="tp-shop-sidebar-sell-item-title"><a href="shop-details.html">{{recent.name}}</a></h5>
                                          <div class="tp-shop-sidebar-sell-item-rating">
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                          </div>
                                          <span>{{recent.base_price}}</span>
                                       </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            {% comment %} <div class="tp-shop-sidebar-tag tagcloud wow fadeInUp">
                                <h4 class="tp-shop-sidebar-title mb-25">Tag</h4>
                                <a href="shop-details.html">Design</a>
                                <a href="shop-details.html">Content</a>
                                <a href="shop-details.html">Development</a>
                                <a href="shop-details.html">Ui/Ux</a>
                                <a href="shop-details.html">Tech</a>
                                <a href="shop-details.html">Innovation</a>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        {% comment %} <div class="row align-items-center"> {% endcomment %}
                            {% comment %} <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                                <div class="tp-product__filter-box tp-shop-filter-box flex-xs-wrap d-md-flex justify-content-end">
                                   <div class="tp-product__filter tp-shop-filter">
                                      <select style="display: none;">
                                         <option>Default sorting</option>
                                         <option>Low to Hight</option>
                                         <option>High to Low</option>
                                         <option>New Added</option>
                                         <option>On Sale</option>
                                      </select><div class="nice-select" tabindex="0"><span class="current">Default Sorting</span><ul class="list"><li data-value="Default Sorting" class="option selected focus">Default Sorting</li><li data-value="Low to Hight" class="option">Low to Hight</li><li data-value="High to Low" class="option">High to Low</li><li data-value="New Added" class="option">New Added</li><li data-value="On Sale" class="option">On Sale</li></ul></div>
                                   </div>
                                </div>
                             </div>
                             <div class="col-xl-6 col-lg-6 col-md-6 mb-30">
                                <div class="tp-product__filter-box tp-shop-filter-box flex-xs-wrap d-md-flex justify-content-end">
                                   <div class="tp-product__filter tp-shop-filter">
                                      <select style="display: none;">
                                         <option>Showing 12 of 120 results</option>
                                         <option>Low to Hight</option>
                                         <option>High to Low</option>
                                         <option>New Added</option>
                                         <option>On Sale</option>
                                      </select><div class="nice-select" tabindex="0"><span class="current">12 Product of Per Page</span><ul class="list"><li data-value="12 Product of Per Page" class="option selected focus">12 Product of Per Page</li><li data-value="Low to Hight" class="option">Low to Hight</li><li data-value="High to Low" class="option">High to Low</li><li data-value="New Added" class="option">New Added</li><li data-value="On Sale" class="option">On Sale</li></ul></div>
                                   </div>
                                </div>
                             </div>
                          </div> {% endcomment %}
                        <div class="row align-items-end mb-30">
                            <div class="container">
                              <div class="row">
                                    {% for product in paginators %}
                                       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                          {% include 'beltechApp/refactors/item_list.html' %}
                                       </div>
                                    {% endfor %}
                              </div>
                           </div>
                            
                        </div>
                        {% include 'beltechApp/refactors/paginator.html' %}
                    </div>
                </div>
            </div>
        </section>
        <!-- shop-product area start -->




    {% endblock %}