

{% extends 'beltechApp/base/base.html' %}
{% load static %}

{% block title %}Our service {% endblock %}

{% block content %}

    <div id="smooth-wrapper">
        <div id="smooth-content">
    

        
        <!-- breadcrumb area start -->
        {% include 'beltechApp/refactors/service_blog_nav_breadcrumb.html'%}
        
            
        <!-- breadcrumb area end -->




        <!-- shop-product area start -->
        <section class="tp-shop-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        <div class="tp-shop-sidebar mb-40">
                            <div class="tp-shop-sidebar-search mb-30 wow fadeInUp">
                                <input type="text" placeholder="Search Products">
                                <div class="tp-shop-sidebar-search-icon">
                                    <i class="fa-regular fa-magnifying-glass"></i>
                                </div>
                            </div>
                            <div class="tp-shop-sidebar-category mb-30 wow fadeInUp">
                                <h4 class="tp-shop-sidebar-title mb-25">Categories</h4>
                                <div class="tp-shop-sidebar-category-wrap">
                                    {% for category in categorys %}
                                    <div class="tp-shop-sidebar-category-item">
                                        <a href="{% url 'category_details' category.id %}">{{ category.name }}</a>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            
                            <div class="tp-shop-sidebar-sell mb-30 wow fadeInUp">
                                <h4 class="tp-shop-sidebar-title mb-25">Recent products</h4>
                                <div class="tp-shop-sidebar-sell-wrap">
                                    {% for recent in recent_products %}
                                    <div class="tp-shop-sidebar-sell-item d-flex mb-20">
                                       <div class="tp-shop-sidebar-sell-item-thumb">
                                          <a href="{% url 'shop_detail' recent.id %}">
                                             <img src="{{recent.image.url}}" alt="{{recent.name}}">
                                          </a>
                                       </div>
                                       <div class="tp-shop-sidebar-sell-item-content">
                                          <h5 class="tp-shop-sidebar-sell-item-title"><a href="{% url 'shop_detail' recent.id %}">{{recent.name}}</a></h5>
                                          <div class="tp-shop-sidebar-sell-item-rating">
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                             <i class="fa-solid fa-star"></i>
                                          </div>
                                          <span>{{recent.base_price}}</span>
                                       </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8">

                        <div class="row align-items-end mb-30">
                            <div class="container">
                              <div class="row">
                                    {% for product in shoppaginators %}
                                       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                          {% include 'beltechApp/refactors/item_list.html' %}
                                       </div>
                                    {% endfor %}
                              </div>
                           </div>
                            
                        </div>
                        {% comment %} {% include 'beltechApp/refactors/paginator.html' %} {% endcomment %}
                        <div class="row">
                                                
                            <div class="tp-postbox-pagination text-center wow fadeInUp" data-wow-delay=".3s">
                                <nav>
                                    <ul>
                                        {# Previous Page Link #}
                                        {% if shoppaginators.has_previous %}
                                            <li>
                                                <a href="?page={{ shoppaginators.previous_page_number }}">
                                                    <i class="fa-solid fa-arrow-left-long"></i>
                                                </a>
                                            </li>
                                        {% endif %}

                                        {# Page Numbers #}
                                        {% for num in shoppaginators.paginator.page_range %}
                                            {% if shoppaginators.number == num %}
                                                <li>
                                                    <a class="active" href="?page={{ num }}">{{ num }}</a>
                                                </li>
                                            {% elif num > shoppaginators.number|add:'-3' and num < shoppaginators.number|add:'3' %}
                                                <li>
                                                    <a href="?page={{ num }}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}

                                        {# Next Page Link #}
                                        {% if shoppaginators.has_next %}
                                            <li>
                                                <a href="?page={{ shoppaginators.next_page_number }}">
                                                    <i class="fa-solid fa-arrow-right-long"></i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- shop-product area start -->




    {% endblock %}