
$colors: (
    'common': (
        'white': #ffffff,
        'black': #000000,
    ),
    'heading': (
        'primary': #000000,
    ),
    'grey': (
        '1':#f3f5ff,
        '2':#F6F7F9,
    ),
    'text': (
        'body':#767676,
        'p':#767676,
    ),
    'theme': (
        'primary': #7000fe,
        'secondary': #ff4328,
    ),
    'border': (
        'primary': #7000fe,
    )
);


$white : #fff;
$black : #020B18;
$theme-primary : #0989FF;
$border-primary : #EAEBED;
