@use '../../utils' as *;


/*----------------------------------------*/
/*  7.1 About css
/*----------------------------------------*/


.tp-about {
    &-area {
        @media #{$xs} {
            padding-top: 0;
        }
    }
    &-left-wrapper {
        margin-left: -115px;
        @media #{$lg} {
            margin-left: 0;
            margin-bottom: 80px;
        }
        @media #{$md} {
            margin-top: 40px;
            margin-left: 0;
            margin-bottom: 80px;
        }
    }
    &-thumb-shape {
        &-1 {
            position: absolute;
            bottom: 41px;
            left: 131px;
        }
        &-2 {
            position: absolute;
            top: -100px;
            right: 120px;
            @media #{$lg} {
                right: 60px;
            }
        }
        &-3 {
            position: absolute;
            bottom: -25px;
            right: 48px;
            @media #{$lg} {
                right: -30px;
            }
        }
    }
    &-thumb {
        @media #{$xs} {
            display: none;
        }
    }
    &-right-wrapper {
        margin-left: 18px;
        & .tp-section-paragraph {
            margin: 26px 0 0;
        }
    }
    &-icon-box {
        &:hover {
            & .tp-about-icon {
                & span {
                    color: var(--tp-common-white);
                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    &-icon {
        & span {
            width: 80px;
            height: 80px;
            line-height: 90px;
            text-align: center;
            display: inline-block;
            background: #f5f7fa;
            color: var(--tp-theme-primary);
            border-radius: 50%;
            font-size: 34px;
            margin-right: 20px;
            position: relative;
            z-index: 1;
            @include transition;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                transform: scale(0);
                background: var(--tp-theme-primary);
                width: 100%;
                height: 100%;
                z-index: -1;
                @include transition;
                border-radius: 50%;

            }
        }
    }
    &-right-title {
        & h4 {
            font-size: 20px;
            letter-spacing: 0px;
            margin-bottom: 12px;
        }
        & p {
            line-height: 26px;
            & br {
                @media #{$xs} {
                    display: none;
                }  
            }
        }
    }
    &-center-title {
        font-size: 20px;
        letter-spacing: 0px;
        color: var(--tp-theme-primary);
        font-weight: 700;
        font-family: "Plus Jakarta Sans";
    }
    &-call-icon {
        margin-top: -15px;
    }
    &-call-number {
        p {
            font-size: 20px;
            color: var(--tp-heading-primary);
            font-weight: 700;
            font-family: var(--tp-ff-heading);
            margin-top: -4px;
            &:hover {
                color: var(--tp-theme-primary);
            }
        }
    }
    &-button-item {
        @media #{$xs} {
            flex-direction: column;
        }
        @media #{$sm} {
            flex-direction: inherit;
        }
        & .tp-about-btn {
            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
        & .tp-about-call-item {
            @media #{$xs} {
                margin-left: 0;
            }
            @media #{$sm} {
                margin-left: 40px;
            }
        }  
    }



    // Home 2

    &-2 {
        &-bg-shape {
            &-1 {
                position: absolute;
                left: 85px;
                top: 5px;
                z-index: -1;
                animation: bounce-thum-1 3.5s infinite;
                @media #{$x3l} {
                    left: 0;
                }
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    display: none;
                }
            }
            &-2 {
                position: absolute;
                right: 0;
                top: -235px;
                z-index: -1;
                animation: bounce-thum-3 4s forwards infinite alternate;
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    display: none;
                }
            }
        }
        &-left-wrapper {
            @media #{$md} {
                margin-bottom: 60px;
            }
        }
        &-thumb-shape {
            position: absolute;
            top: -40px;
            left: -50px;
            z-index: -1;
        }
        &-right-wrapper {
            @media #{$md} {
                margin-left: 0;
            }
        }
        &-thumb {
            & img {
                @media #{$lg} {
                    width: 90%;
                    margin-top: 50px;
                }
                @media #{$xs} {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }
        &-signature {
            @media #{$xs} {
                flex-direction: column;
            }
        }
        &-signature-sing {
            @media #{$xs} {
                margin-left: 0;
                margin-top: 30px;
            }
        }


        // progres ber

        &-progres-skill {
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 0px 60px 0px rgba(109, 113, 134, 0.08);
            padding: 30px 60px 20px;
            @media #{$xs} {
                padding: 30px 30px 20px;
            }
            @media #{$sm} {
                padding: 30px 50px 20px;
            }    
        }
        &-label {
            font-size: 16px;
            color: var(--tp-common-black);
            font-weight: 700;
            font-family: var(--tp-ff-heading);
        }
        &-progress {
            overflow: visible;
            margin-top: 10px;
            height: 1px;
            background: var(--tp-common-black);
            &.two {
                height: 2px;
                background-color: #e2e6e6;
            }
            &-bar {
                overflow: visible;
                color: var(--tp-text-p);
                text-align: right;
                background-color: var(--tp-theme-primary);
                height: 3px;
                margin-top: -1px;
                &.two {
                    height: 4px;
                }
                & span {
                    font-size: 16px;
                    position: relative;
                    top: -22px;
                    color: var(--tp-text-p);
                    font-weight: 700;
                    font-family: var(--tp-ff-heading);
                    &.two {
                        font-weight: 400;
                        font-size: 16px;

                    }
                }
            }
        }
    }

    // Home 4

    &-4 {
        &-thumb {
            @media #{$lg,$md,$xs} {
                margin-bottom: 40px;
            }
            & img {
                @media #{$xs} {
                    width: 100%;
                }
            }
        }
        &-bg-shape {
            position: absolute;
            top: 50px;
            right: 0;
            z-index: -1;
            animation: bounce-thum-3 4s forwards infinite alternate;
            @media #{$xs} {
                display: none;
            }
        }
        &-thumb-shape{
            &-1 {
                position: absolute;
                top: -65px;
                right: 0;
                animation: bounce-thum-2 1s ease-in-out 0.1s forwards infinite alternate;
                @media #{$xs} {
                    display: none;
                }
            }
            &-2 {
                position: absolute;
                bottom: 40px;
                right: 40px;
                animation: bounce-thum-1 3.5s infinite;
                @media #{$xs} {
                    display: none;
                }
            }
        }
        &-wrapper {
            margin-left: 15px;
        }
        &-feature-item {
            background: var(--tp-common-white);
            box-shadow: 0px 8px 40px 0px rgba(27, 31, 46, 0.06);
            padding: 12px 35px 8px;
            @media #{$xs} {
                flex-direction: column;
            }
        }
        &-feature-icon {
            margin-right: 25px;
            @media #{$xs} {
                margin-bottom: 30px;
            }
        }
        &-feature-title {
            font-size: 22px;
            color: #1a1e5d;
            line-height: 1.4;
            @media #{$xs} {
                font-size: 19px;
            }
        }
        &-label {
            color: var(--tp-common-black);
            font-weight: 700;
            font-family: var(--tp-ff-heading);
        }
        &-progress {
            overflow: visible;
            margin-top: 5px;
            height: 10px;
            background: #e2e6e6;
            border-radius: 0;
            &-bar {
                overflow: visible;
                color: var(--tp-heading-primary);
                text-align: right;
                background: var(--tp-common-black);
                height: 4px;
                margin-top: 3px;
                & span {
                    position: relative;
                    top: -24px;
                    font-size: 16px;
                    color: var(--tp-text-body);
                    font-weight: 400;
                    font-family: var(--tp-ff-heading);
                }
            }
        }
        &-btn-box {
            @media #{$xs} {
                display: flex;
                flex-direction: column;
            }
            @media #{$sm} {
                display: flex;
                flex-direction: inherit;
            }
        }
        &-signature {
            @media #{$xs} {
                margin-left: 0;
                margin-top: 30px;
            }
            @media #{$sm} {
                margin-left: 110px;
                margin-top: 0;
            }
        }
        &-call-icon {
            & a {
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                display: inline-block;
                background: var(--tp-theme-secondary);
                color: var(--tp-common-white);
                border-radius: 50%;
                font-size: 20px;
            }
        }
        &-call-number {
            margin-top: 8px;
            & span {
                display: block;
                line-height: 1;
            }
            & a {
                color: var(--tp-common-black);
                font-weight: 700;
                font-family: var(--tp-ff-heading);
            }
        }
    }

    // Home 5

    &-5 {
        &-thumb {
            margin-left: -60px;
            @media #{$lg} {
                margin-left: 0;
            }
            @media #{$md} {
                margin-left: 0;
                margin-bottom: 150px;
            }
            @media #{$xs} {
                margin-left: 0;
            }
            & img {
                @media #{$xs} {
                    width: 100%;
                }
            }
        }
        &-thumb-shape {
            &-1 {
                position: absolute;
                bottom: -130px;
                right: 70px;
                @media #{$lg} {
                    right: -10px;
                }
                @media #{$xs} {
                    display: none;
                }
            }
            &-2 {
                position: absolute;
                top: 50px;
                right: 70px;
                animation: bounce-thum-3 4s forwards infinite alternate;
                @media #{$lg} {
                    display: none;
                }
                @media #{$xs} {
                    display: none;
                }
            }
            &-3 {
                position: absolute;
                left: 25px;
                bottom: -120px;
                animation: bounce-thum-1 6.5s infinite;
                @media #{$xs} {
                    display: none;
                }
            }
        }
        &-label {
            position: absolute;
            top: -2px;
            left: 16px;
            color: var(--tp-common-white);
            font-weight: 700;
            font-family: var(--tp-ff-heading);
            z-index: 11;
        }
        &-progress {
            background: transparent;
            height: 30px;
            border-radius: 0;
            &-bar {
                background-image: linear-gradient(270deg, #ffffff 0%, #e5498f 100%);
                text-align: right;
                &.two {
                    background-image: linear-gradient(270deg, #ffffff 0%, #191d5d 100%);
                }
                & span {
                    color: #e6498f;
                    font-weight: 700;
                    font-family: var(--tp-ff-heading);
                    font-size: 16px;
                    &.two {
                        color: #1a1e5d;
                    }
                }
            }
        }
        &-call-icon {
            & a {
                width: 60px;
                height: 60px;
                line-height: 60px;
                background: transparent;
                color: var(--tp-theme-secondary);
                border: 1px solid #e0e0e0;
            }
        }
        &-call-number {
            & a {
                color: var(--tp-common-black);
                font-weight: 700;
                font-family: var(--tp-ff-heading);
                font-size: 18px;
            }
        }
    }
}




