<section class="tp-team-area pt-0 pb-90">
    <div class="container">
        <div class="row">
            {% for team in teams %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="tp-team-wrapper tp-costom-wrapper-hover p-relative fix mb-30 wow fadeInUp" data-wow-delay=".3s" data-wow-duration="1s">
                    <div class="tp-team-img fix">
                        <div class="tp-team-img-inner tp-costom-inner-hover">
                            <img src="{{ team.image.url }}" alt="">
                        </div>
                        <div class="tp-team-content">
                            <h4 class="tp-team-title">{{ team.name }}</h4>
                            <p>{{ team.role }}</p>
                            <div class="tp-team-social">
                               
                                <div class="tp-team-icon">
                                    {% for handle in team.socialhandlesteam_set.all %}
                                        <a href="{{ handle.social_link_url }}" target="_blank">
                                            {% if "facebook.com" in handle.social_link_url %}
                                                <i class="fa-brands fa-facebook-f"></i>
                                            {% elif "instagram.com" in handle.social_link_url %}
                                                <i class="fa-brands fa-instagram"></i>
                                            {% elif "linkedin.com" in handle.social_link_url %}
                                                <i class="fa-brands fa-linkedin-in"></i>
                                            {% elif "twitter.com" in handle.social_link_url or "x.com" in handle.social_link_url %}
                                                <i class="fa-brands fa-x-twitter"></i>
                                            {% else %}
                                                <i class="fa-solid fa-link"></i> {% endif %}
                                        </a>
                                    {% empty %}
                                        {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>